/*Could probably add more mixins for stuff like padding, margin and so on.
However, didn't make sense to as it's going to add more lines of code to make the mixing
when compared to the alternative of just writing them for that specific elements rule.*/
.card p, .card h3, .page-header p, .page-header h2, .page-header h1 {
  color: #4d4f62;
}

.card .icon-holder {
  display: flex;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  padding: 85px 32px;
  background-color: #f2f2f2;
}

.page-header {
  -webkit-margin-after: 76px;
          margin-block-end: 76px;
}
.page-header h1 {
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  font-weight: 200;
  font-size: 2.4rem;
  line-height: 1.5;
  letter-spacing: 0.17px;
}
.page-header h2 {
  -webkit-margin-after: 1.6rem;
          margin-block-end: 1.6rem;
  font-weight: 0.17px;
  font-size: 2.4rem;
  line-height: 1.5;
  letter-spacing: 600;
}
.page-header p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.67;
  letter-spacing: 0.1px;
  opacity: 99;
}
@media screen and (min-width: 960px) {
  .page-header h1 {
    font-weight: 200;
    font-size: 3.6rem;
    letter-spacing: 0.25px;
    -webkit-margin-after: 2px;
            margin-block-end: 2px;
    color: #4d4f62;
    /*Had to put color as can't extend from within media queries.
     Also had to set font weight to 200 in fontStyle even though 
     it's already set by mobile view as mixin has a default of 400
     if no value passed. This caused the header to default to 400 
     if not passed*/
  }
  .page-header h2 {
    -webkit-margin-after: 1.3rem;
            margin-block-end: 1.3rem;
    font-weight: 600;
    font-size: 3.6rem;
    letter-spacing: 0.25px;
  }
  .page-header p {
    line-height: 1.66;
    max-inline-size: 540px;
    margin: auto;
  }
}

.card {
  -webkit-margin-after: 25px;
          margin-block-end: 25px;
  text-align: inline-start;
  padding: 28px;
  -webkit-border-before: 4px solid transparent;
          border-block-start: 4px solid transparent;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 15px 30px -11px rgba(63, 70, 78, 0.5);
}
.card h3 {
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: normal;
}
.card p {
  -webkit-margin-after: 33px;
          margin-block-end: 33px;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.66;
  letter-spacing: 0.09px;
  max-inline-size: 540px;
  margin: auto;
}
.card .icon-holder {
  justify-content: flex-end;
}
.card .icon {
  block-size: 57px;
  inline-size: 57px;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}

.card.supervisor {
  border-block-start-color: hsl(180deg, 62%, 55%);
}

.card.team-builder {
  border-block-start-color: hsl(0deg, 78%, 62%);
}

.card.karma {
  border-block-start-color: hsl(34deg, 97%, 64%);
}

.card.calculator {
  border-block-start-color: hsl(212deg, 86%, 64%);
}

@media (min-width: 960px) {
  .feature-wrapper {
    display: flex;
    max-inline-size: 1110px;
    margin: auto;
  }

  .feature-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: calc(33.33% - 20px);
    -webkit-margin-end: 30px;
            margin-inline-end: 30px;
  }
}/*# sourceMappingURL=style.css.map */